---
import Layout from '../components/Layout.astro';
import SectionHeading from '../components/SectionHeading.astro';
import Project from '../components/page-components/projects/Project.astro';
---

<Layout title='Projects | Usman Sabuwala'>
  <div class='container flex items-center flex-col gap-5 mt-10 max-w-screen-lg'>
    <SectionHeading>My Projects</SectionHeading>
    <div class='mt-2 flex justify-center items-center'>
      <Project title='Prompt - Issue Management Web App' />
    </div>
  </div>
</Layout>
