---
import Layout from "../components/Layout.astro";
import SectionHeading from "../components/SectionHeading.astro";
import Project from "../components/page-components/projects/Project.astro";
import { db, Project as ProjectTable } from "astro:db";

export const prerender = true;

const projects = await db.select().from(ProjectTable).all();
---

<Layout title='Projects | Usman Sabuwala'>
  <div class='container px-0 w-full flex flex-col gap-5 mt-10'>
    <SectionHeading className='mx-auto'>My Projects</SectionHeading>
    <div class='mt-2 md:m-0 m-5 flex flex-wrap justify-between gap-5'>
      {
        projects.map(project => (
          <Project
            name={project.name}
            title={project.title}
            skills={project.skills as string[]}
            link={project.link}
            totalImages={project.totalImages}
            description={project.description.replaceAll(/\\n/g, '<br />')}
          />
        ))
      }
    </div>
  </div>
</Layout>
