---
import SectionHeading from "../SectionHeading.astro";
import { SocialLinks } from "../SocialLink";
import WordHighlight from "../WordHighlight.astro";
---

<div class='mt-8'>
  <div
    class='flex flex-col-reverse items-center justify-center gap-3 md:flex-row'
  >
    <div class='flex flex-col gap-5'>
      <SectionHeading>I am a Full Stack Web Developer!</SectionHeading>

      <p class='md:text-lg md:text-left text-center text-sm text-white'>
        Hey there! I'm Usman, an 18-year-old web development and programming
        enthusiast and with a solid skill set in
        <WordHighlight>JavaScript</WordHighlight>, <WordHighlight>
          TypeScript
        </WordHighlight> and <WordHighlight>React</WordHighlight>

        <span class='hidden'>
          I'm also open to remote work, so feel free to contact me, I run a
          YouTube channel I share my expertise with others.
        </span>
      </p>

      <div class='flex flex-col md:flex-row gap-5 items-center'>
        <SectionHeading>Contact me:</SectionHeading>
        <SocialLinks client:load />
      </div>
    </div>
    <img
      src='/profilePic.jpg'
      transition:name='skills'
      alt='Usman'
      class='max-w-xs rounded-full'
    />
  </div>
</div>
