---
import { ArrowUpRight } from 'phosphor-react';
import type { ChannelStats, Video } from '../../types';
import Link from '../Link.astro';
import SectionHeading from '../SectionHeading.astro';
import YouTubeCards from '../YouTubeCard';
import LottieAnimation from 'astro-integration-lottie/Lottie.astro';

interface Props {
  videos: Video[];
  channelStats: ChannelStats;
}

const { videos, channelStats } = Astro.props;

const formatter = Intl.NumberFormat('en', { notation: 'compact' });

const displayStats = {
  subs: formatter.format(+channelStats.subscriberCount),
  views: formatter.format(+channelStats.viewCount),
  vids: formatter.format(+channelStats.videoCount),
};
---

<div>
  <SectionHeading>What do I do?</SectionHeading>
  <div class='mt-5 flex items-center gap-2 umami--click--youtube-cards-link'>
    <a
      href='https://youtube.com/@MaxProgramming'
      target='_blank'
      class='h-16 w-16'
    >
      <LottieAnimation src='/lotties/youtube.json' autoplay='visible' loop />
    </a>

    <Link
      href='https://youtube.com/@MaxProgramming'
      className='flex items-center gap-2'
    >
      My YouTube Videos
      <ArrowUpRight />
    </Link>
  </div>
  <div class='flex gap-7 mb-3 text-white ml-2 text-xs md:text-xl font-semibold'>
    <h2>{displayStats.subs} subscribers</h2>
    <h2>{displayStats.views} views</h2>
    <h2>{displayStats.vids} videos</h2>
  </div>
  <div
    class='mt-4 mb-10 grid grid-cols-1 place-items-center gap-6 md:grid-cols-3'
  >
    <YouTubeCards videos={videos} client:idle />
  </div>
</div>
