---
interface Props {
	name: string;
}
const { name } = Astro.props;
---

<div
  class='text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-purple-200 text-purple-700 rounded-full'
>
  {name}
</div>
