---
import "../styles/globals.css";
import Navbar from "./Navbar.astro";
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Usman Sabuwala - Personal Site</title>
  </head>
  <body class="bg-dark-blue">
    <Navbar />
    <slot />
  </body>
</html>
