---
import '@fontsource/sen';
import { SEO } from 'astro-seo';
import Nav from './Nav.astro';
interface Props {
  title?: string;
}
const { title } = Astro.props;
---

<html lang='en'>
  <head>
    <SEO
      title={title ||
        'Home - Usman Sabuwala - Full Stack Web Developer in India.'}
      description='ðŸŒ my online home'
      canonical='https://usmans.me'
      openGraph={{
        image: { url: '/profilePic.jpg' },
        basic: {
          title: title || 'Usman Sabuwala - Full Stack Web Developer in India',
          image: '/profilePic.jpg',
          type: 'website',
          url: 'https://usmans.me',
        },
      }}
      twitter={{
        creator: '@MaxProgramming1',
        card: 'summary',
        site: 'https://usmans.me',
      }}
      extend={{
        link: [{ rel: 'icon', href: '/profilePic.jpg' }],
        meta: [
          {
            name: 'twitter:image',
            content: '/profilePic.jpg',
          },
          {
            name: 'twitter:title',
            content:
              title || 'Usman Sabuwala - Full Stack Web Developer in India',
          },
          { name: 'twitter:description', content: 'ðŸŒ my online home' },
          {
            name: 'keywords',
            content:
              'usman,usman sabuwala,usmansme,usmans,usman s, max programming, usman i sabuwala,max programming youtube',
          },
          { name: 'description', content: 'ðŸŒ my online home' },
          { name: 'og:image', content: '/profilePic.jpg' },
          {
            name: 'title',
            content:
              title || 'Usman Sabuwala - Full Stack Web Developer in India',
          },
        ],
      }}
    />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <script
      async
      defer
      data-website-id='b52533ff-5df3-42fd-8247-8ce626759b8a'
      src='https://insights.usmans.me/umami.js'
    ></script>
    <script
      src='https://polyfill.io/v3/polyfill.min.js?features=Intl.NumberFormat,Intl.NumberFormat.~locale.en'
    ></script>
  </head>
  <body class='bg-primary-darker'>
    <div class='flex flex-col overflow-hidden font-sans mb-5'>
      <Nav />
      <slot />
    </div>
  </body>
</html>
