---
import BackgroundGradient from "./BackgroundGradient.astro";
import Navbar from "./Navbar.astro";

const dotColumns = Array.from({ length: 30 });
const dotRows = Array.from({ length: 45 });
---

<div>
  <div class="flex justify-center">
    <div class="absolute top-0 pointer-events-none">
      <BackgroundGradient />
    </div>
  </div>
  <Navbar />
  <div class="relative">
    <div class="absolute inset-0 flex flex-col items-center gap-5">
      {
        dotRows.map(() => (
          <div class="flex gap-5">
            {dotColumns.map(() => (
              <div class="bg-white/25 size-0.5 rounded-full" />
            ))}
          </div>
        ))
      }
    </div>
    <slot />
  </div>
</div>
