---
interface Props {
  /**
   * Optional CSS class name to apply custom styles
   */
  class?: string;
  /**
   * Whether to reverse the animation direction
   * @default false
   */
  reverse?: boolean;
  /**
   * Whether to pause the animation on hover
   * @default false
   */
  pauseOnHover?: boolean;
  /**
   * Whether to animate vertically instead of horizontally
   * @default false
   */
  vertical?: boolean;
  /**
   * Number of times to repeat the content
   * @default 4
   */
  repeat?: number;
}

const {
  class: className = "",
  reverse = false,
  pauseOnHover = false,
  vertical = false,
  repeat = 4,
  ...rest
} = Astro.props;

const repeatArray = Array.from({ length: repeat }, (_, i) => i);
---

<div
  {...rest}
  class:list={[
    "group flex overflow-hidden p-2 [--duration:20s] [--gap:1rem] [gap:var(--gap)",
    {
      "flex-col": vertical,
      "flex-row": !vertical,
    },
    className,
  ]}
>
  {
    repeatArray.map(i => (
      <div
        class:list={[
          "flex shrink-0 justify-around [gap:var(--gap)]",
          {
            "animate-marquee flex-row": !vertical,
            "animate-marquee-vertical flex-col": vertical,
            "group-hover:[animation-play-state:paused]": pauseOnHover,
            "[animation-direction:reverse]": reverse,
          },
        ]}
      >
        <slot />
      </div>
    ))
  }
</div>
