---
import Link from './Link.astro';
---

<div class='w-full bg-primary-dark md:px-56'>
  <div class='p-5'>
    <div class='flex items-center justify-center md:justify-between'>
      <a href='/' class='text-center text-4xl font-semibold text-primary-light'>
        Usman Sabuwala
      </a>
      <div class='hidden gap-5 md:flex'>
        <Link href='https://blog.usmans.me' className='md:text-xl'>Blog</Link>
        <Link href='/gists' className='md:text-xl'>Gists</Link>
      </div>
    </div>
  </div>
</div>
