---
import Hamburger from './Hamburger';
import Link from './Link.astro';
---

<div class='w-full bg-primary-dark md:px-56'>
  <div class='p-5'>
    <div class='flex items-center justify-center md:justify-between'>
      <a href='/' class='text-center text-4xl font-semibold text-primary-light'>
        Usman S.
      </a>
      <div class='hidden gap-5 md:flex'>
        <Link isPage href='/skills' className='md:text-xl'>Skills</Link>
        <Link isPage href='/projects' className='md:text-xl'>Projects</Link>
        <Link
          href='https://blog.usmans.me'
          className='md:text-xl umami--click--blog-nav'
        >
          Blog
        </Link>
        <Link href='/gists' className='md:text-xl'>Gists</Link>
      </div>
    </div>
    <Hamburger client:load />
  </div>
</div>
