---
interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<h2
  class={'text-xl md:text-left text-center font-semibold text-white md:text-4xl ' +
    className}
>
  <slot />
</h2>
