---
import BlurDiv from './BlurDiv.astro';
import Circle from './Circle.astro';
import Flag from './Flag.astro';

const title = 'Free Palestine';
const description = `Stand for humanity! Innocent people and children are being murdered in Palestine. Together, we can put an end to the Gaza genocide`;
const linkTo =
  'https://docs.google.com/document/d/e/2PACX-1vQg3RPl28r_AWpeflbdE3Lad5pS2rpgYP8vOH8DVXVNioezEJ-_spycP_0Dr98JBgBt5MwekSPLe0UC/pub';
---

<div
  class='sticky top-0 isolate z-50 flex items-center overflow-hidden bg-gray-600/70 px-3 py-2.5 backdrop-blur-sm sm:px-6'
  id='banner'
>
  <div
    class='absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl'
    aria-hidden='true'
  >
    <BlurDiv />
  </div>
  <div
    class='absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl'
    aria-hidden='true'
  >
    <BlurDiv />
  </div>
  <p class='mx-auto text-xs md:text-sm text-gray-300 sm:leading-6'>
    <a href={linkTo} target='_blank' rel='noreferrer'>
      <strong class='font-semibold'>{title}</strong>
      <Flag />
      <Circle />
      {description}
      <button
        class='ml-2 p-1 px-2 text-xs bg-green-400 font-medium text-black rounded-md'
        >Donate</button
      >
    </a>
  </p>
  <button
    type='button'
    class='flex1 -m-3 flex justify-end p-3 focus-visible:outline-offset-[-2px]'
    id='closeBtn'
  >
    <svg class='h-5 w-5 text-gray-900' aria-hidden='true' viewBox='0 0 24 24'>
      <path d='M19 5L5 19M5.00001 5L19 19' stroke='#fff'></path>
    </svg>
  </button>
</div>

<script>
  import Cookie from 'js-cookie';

  const banner = document.getElementById('banner');
  const closeBtn = document.getElementById('closeBtn');

  function hideOrShowBanner() {
    if (!banner) return;
    if (Cookie.get('banner') === 'hidden') {
      banner.style.display = 'none';
    } else {
      banner.style.display = 'flex';
    }
  }

  hideOrShowBanner();

  closeBtn?.addEventListener('click', () => {
    Cookie.set('banner', 'hidden', { expires: 4 });
    hideOrShowBanner();
  });
</script>
